<%= form_with(model: topping, class: "card p-4 shadow-sm") do |form| %>
  <% if topping.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(topping.errors.count, "error") %> prevented this topping from being saved:</h4>
      <ul>
        <% topping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-end">
    <%= form.submit "Save Topping", class: "btn btn-success" %>
  </div>
<% end %>

